# Paths to apps and files
FOXIT_EXE=C:\Path\To\FoxitReader.exe
PDF_PATH=C:\Path\To\document.pdf
CHROME_EXE=C:\Path\To\chrome.exe
NEKORAY_EXE=C:\Path\To\nekoray.exe
DOCKER_DESKTOP_EXE=C:\Path\To\Docker Desktop.exe
DOCKER_CMD=docker

# Wi-Fi
WIFI_PRIMARY_SSID=Riz
WIFI_SECONDARY_SSID=CMF by Nothing Phone 2 Pro_7485
WIFI_CONNECT_TIMEOUT=15

# Chrome tabs
CHROME_URL_1=https://example.com
CHROME_URL_2=https://example.com
CHROME_URL_3=https://example.com

# Docker / psql settings
CONTAINER_NAME=your-container-name
DB_NAME=your-database-name
DB_USER=your-database-user
DB_HOST=127.0.0.1
DB_PORT=5432
CMD_WINDOW_TITLE=YOUR-PSQL-WINDOW

# Timeouts
DOCKER_READY_TIMEOUT=180
POSTGRES_READY_TIMEOUT=60
WINDOW_WAIT_TIMEOUT=60
POLL_INTERVAL=0.5
