# Paths to apps
CHROME_EXE=C:\Path\To\chrome.exe

# Chrome tabs
CHROME_URL_1=https://example.com/traq
CHROME_URL_2=https://example.com/team-chat
CHROME_URL_3=https://example.com/time-tracker
CHROME_URL_4=https://example.com/project-board-1
CHROME_URL_5=https://example.com/project-board-2
CHROME_URL_6=https://example.com/code-repository
CHROME_URL_7=https://example.com/design-file
CHROME_URL_8=https://example.com/task-board
CHROME_URL_9=https://example.com/ai-workspace
CHROME_URL_10=https://example.com/mail
CHROME_URL_11=https://example.com/admin-training-center
CHROME_URL_12=https://example.com/training-center

# Timeouts
WINDOW_WAIT_TIMEOUT=60
POLL_INTERVAL=0.5
